.container{
    background-color: black;
    display: grid;
    grid-template-columns: 100px 25px auto 150px 50px auto;
    grid-template-rows: 75px auto 50px 125px auto 150px;
    grid-gap: 10px 10px;
    height: 1000px;
}
.item{
    background-color: white;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.box1{
    background-color: yellow;
    color: yellow;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box2{
    background-color: pink;
    grid-column-start: 3;
    grid-column-end: 5;
}
.box3{
    grid-row-start: 1;
    grid-row-end: 3;
}
.box4{
    grid-row-start: 2;
    grid-row-end:5;
}
.box5{
    background-color: lightgreen;
    color: lightgreen;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}
.box6{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
.box7{
    grid-column-start
}
.box8{
    grid-column-start
}
.box9{
    background-color: red;
    color: red;
    grid-column-start
}
.box10{
    grid-column-start
}
.box11{
    grid-column-start
}
.box12{
    background-color: blue;
    color: blue;
    grid-column-start: 2;
    grid-column-end: 5;
}
    
